<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:maxSdkVersion="32"/>
  <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" android:usesPermissionFlags="neverForLocation"/>
  <uses-feature android:name="android.hardware.camera" android:required="false"/>
  <uses-feature android:name="android.hardware.wifi" android:required="true"/>
  <application android:label="QBasCopier&amp;Transfer" android:allowBackup="true"
               android:theme="@style/MyTheme"
               android:icon="@mipmap/logo"
               android:usesCleartextTraffic="true"
               android:roundIcon="@mipmap/logo">
    <activity android:name=".MainActivity" android:exported="true"
              android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|density"/>
    <activity android:name=".ScanActivity" android:exported="false"
              android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|density"/>
  </application>
</manifest>