<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>
  <application android:label="QBasCopier" android:allowBackup="true" android:theme="@style/MyTheme">
    <activity android:name=".MainActivity" android:exported="true"
              android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|density"/>
  </application>
</manifest>